/* Formlayout minor fix - Jessee spoke to Paul to fix it for FormLayout in future release */
.csfWidgets.formLayout.formLayout {
  overflow: visible !important;
}

#features-row1,
#routes-row1,
#functions-row1 {
  padding: 17px 25px 20px 15px;
}

#features-row1 > div,
#routes-row1 > div,
#functions-row1 > div {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}

#features-row1 svg,
#routes-row1 svg,
#functions-row1 svg {
  fill: #fff !important;
}

#features-row2,
#routes-row2,
#functions-row2 {
  padding: 0 20px;
}

#deployBtn-button,
#addRouteBtn-button,
#addFunctionBtn-button {
  margin-left: 50px;
}

.redcolor {
  color: #d9070a !important;
}

#deployStepWizard .csf-widgets-wizard-fullscreen-wrapper {
  z-index: 10000 !important;
}

.no-footer .footer-height {
  min-height: 0px !important;
}

.button-separator {
  margin-top: 17px;
  min-height: 2px;
  border-bottom: 1px solid rgb(15, 57, 127);
  border-top: 1px solid rgb(15, 57, 127);
}

.inlinelabel {
  display: inline-block;
  position: relative;
  left: 5px;
  top: 5px;
}

.row.text-area textarea {
  font-family: monospace;
}

#releaseWarnLabel label {
  color: #d9070a;
}

.colorErrorList ul li {
  color: #d9070a;
}
.colorWarningList {
  background-color: #ffcc00;
  border-radius: 50px;
}

#deploy-hyperlink {
  float: right;
  padding-left: 0;
}
#deploy-sep {
  height: 10px;
}
#deployruntimeyaml-textArea {
  font-family: monospace;
  width: auto;
}

#overlay-deployruntime,
#overlay-bundleoperation,
#overlay-runtimedetails {
  right: 2px;
}

#overlay-deployruntime-openPanel {
  float: right;
  right: 16px;
}

#overlay-deployruntime-panel,
#overlay-bundleoperation-panel,
#overlay-runtimedetails-panel {
  position: absolute;
  z-index: 6 !important;
}
#overlay-bundleoperation-panel,
#overlay-runtimedetails-panel {
  top: -1px !important;
}

#overlay-bundleoperation-panel .panel-body {
  height: calc(100% - 104px) !important;
  overflow: hidden;
}

#overlay-runtimedetails-panel .panel-body {
  height: calc(100% - 104px) !important;
}

#overlay-bundleoperation,
#overlay-runtimedetails {
  width: 100%;
}

#deployIndicator-status,
#addRouteIndicator-status,
#addFunctionIndicator-status {
  position: absolute;
  top: 0;
  left: 5px;
  width: calc(99% - 5px);
  z-index: 7;
}

#undeployoverlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1) !important;
  height: 100%;
  width: 100%;
}

div.overlayRuntime,
div.overlayBundle {
  cursor: not-allowed;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.1);
}

div#featuresQuickPulldown > div:first-child {
  z-index: 4;
}

#runtimes-page .csfWidgets.cli.fullscreen {
  top: 64px;
  z-index: 2;
  height: calc(100% - 64px);
}

#runtimes-rows {
  padding: 20px 20px 0px 20px;
}

table.extendedRuntime,
table.extended {
  width: 60%;
}

table.extendedRuntime tr,
table.extended tr {
  padding: 2;
}

.extendedRoute h4 {
  margin: 0;
}
.extendedRoute .shift {
  width: 24px;
}

#searchwChipsRuntimes div.has-outline,
#searchwChipsFeatures div.has-outline,
#searchwChipsBundles-local div.has-outline,
#searchwChipsBundles-current div.has-outline {
  overflow: hidden !important;
}

#runtimeLayout > div {
  /*  float: left; */
  padding-left: 20px;
  padding-right: 20px;
}

div.downloadprogress {
  position: relative;
  padding: 10px;
  width: 80%;
}

.dashboard-img-entities {
  max-width: 100%;
  height: auto;
}

.csfWidgets .card {
  height: 100%;
}

#cardObrSelect_no {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 150px;
}

#cardStatus table {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.wrongRouteDetails {
  display: block;
  white-space: nowrap;
  font-size: 14px;
  line-height: 18px;
}

span.dashboard-nb-entities {
  font-family: Nokia Pure Text Bold, Nokia Pure Text Regular, Nokia Pure Text;
  font-size: 1.5vw;
}
span.dashboard-entity-name {
  font-family: Nokia Pure Text Regular;
  font-size: 1.5vw;
}

.csfWidgets .cardWrapper.focus {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12) !important;
}

span.dashboard-contact,
a.dashboard-contact,
a.dashboard-contact:link,
a.dashboard-contact:visited {
  font-family: Nokia Pure Text Regular;
  font-style: normal;
  font-size: 1vw;
  font-weight: bold;
}

#obr-url-text.label {
  float: left;
  padding-right: 0.5em;
}
.obrs-bundles-rows {
  padding: 0 20px;
}

#bundleTree {
  overflow-wrap: break-word;
  height: calc(100% - 67px);
}

#bundleTree ul {
  margin: 0px;
  list-style: none;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ______________________________
| Light Tree in pure css for performance
*/

/*
Light tree position 
*/
.lighttree {
  position: relative;
  left: -10px;
}

/*
Change background color when item is hovered
*/
.lighttree ul > li > label:hover,
.lighttree ul > li > span:hover {
  background-color: #cfd0d1;
}

/* 
Hide the checkbox of a row which contains other items
*/
.lighttree input {
  position: absolute;
  visibility: hidden;
}

/*
Hide all descendant items ( of the level -1 )when the row is not checked
*/
.lighttree ul input ~ ul {
  display: none;
}

/* 
Show all descendant items ( of the level -1 )when the row is checked
*/
.lighttree input:checked ~ ul {
  display: block;
  padding-left: 15px !important;
}

/* 
Tree labels ( containers and leafs )
*/
.lighttree_label {
  position: relative;
  /*  white-space: nowrap; */
}

.lighttree_label.found {
  color: red;
}

label.lighttree_label {
  cursor: pointer;
  padding-left: 34px;
  line-height: 32px;
  font-family: Nokia Pure Text Regular, Arial, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  opacity: 0.87;
}

span.lighttree_label {
  display: inline-block;
  cursor: default;
  padding-left: 34px;
  line-height: 32px;
  font-family: Nokia Pure Text Regular, Arial, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  opacity: 0.87;
  width: calc(100% - 34px);
}

/*
positioning of container icons
*/
label.lighttree_label:after {
  position: absolute;
  top: 0;
  left: -6px;
}

/*
triangle right for folded container
*/
label.lighttree_label:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-top: 10px;
  margin-left: 25px;

  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid rgba(0, 0, 0, 0.7);
  opacity: 0.7;
}

/*
triangle down for open container
*/
:checked ~ label.lighttree_label:after {
  left: 21px;
  top: 7px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left: -6px;
  margin-top: 6px;

  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.7);
  opacity: 0.7;
}

/*
 | specific tuning when a search operation is applied of the light tree
 */
.lighttree .hidefolder {
  display: none;
}
div.filterresult {
  position: absolute;
  top: 0px;
  right: 20px;
  color: red;
}

/*
 | Fit the Terminal to its container
 */
.csfWidgets.cli.docked {
  position: absolute !important;
}
.csfWidgets.cli.fullscreen {
  position: absolute !important;
}
