# this file contains all the runtimes needed to execute the tests
# Here, we deploy two runtimes ("client" and "server")
# NOTE: the runtimes must be started in the order they are declared in this file

consumer=runtime.felix.log4j1,lib.csf.casr,lib.csf.ckaf,stest.ckaf.consumer
producer=runtime.felix.log4j1,lib.csf.casr,lib.csf.ckaf,stest.ckaf.producer
