/casr/cnf/release/
/casr/com.alcatel.as.agent.diameter/bin/                                                                                                                                                  
/casr/com.alcatel.as.agent.diameter/generated/                                                                                                                                            
/casr/com.alcatel.as.agent.radius/bin/                                                                                                                                                    
/casr/com.alcatel.as.agent.radius/generated/                                                                                                                                              
/casr/com.alcatel.as.diameter.ioh/bin/                                                                                                                                                    
/casr/com.alcatel.as.diameter.ioh/generated/
/casr/com.alcatel.as.radius.ioh/bin/
/casr/com.alcatel.as.radius.ioh/generated/
/casr/com.alcatel_lucent.as.ims.diameter.common/bin/
/casr/com.alcatel_lucent.as.ims.diameter.common/generated/
/casr/com.alcatel_lucent.as.ims.impl.charging.rf/bin/
/casr/com.alcatel_lucent.as.ims.impl.charging.rf/generated/
/casr/com.alcatel_lucent.as.ims.impl.charging.ro/bin/
/casr/com.alcatel_lucent.as.ims.impl.charging.ro/generated/
/casr/com.alcatel_lucent.as.ims.impl.cx/bin/
/casr/com.alcatel_lucent.as.ims.impl.cx/generated/
/casr/com.alcatel_lucent.as.ims.impl.sh/bin/
/casr/com.alcatel_lucent.as.ims.impl.sh/generated/
/casr/com.alcatel_lucent.as.ims/bin/
/casr/com.alcatel_lucent.as.ims/generated/
/casr/com.nextenso.proxylet.diameter/bin/
/casr/com.nextenso.proxylet.diameter/generated/
/casr/com.nextenso.proxylet.radius/bin/
/casr/com.nextenso.proxylet.radius/generated/
